.achievements-block{
  background: $light-bg;
  width: 100%;
}

.achievements-block__wrapper {
  @include container;
  padding: 40px 0 50px 0;
}

.achievements-block__title {
  @include pink-block-title;
}

.achievements-block__list {
  @include list-default;
  display: flex;
  flex-wrap: wrap;
}

.achievements-block__item {
  width: 100%;
  margin-top: 40px;

  &:first-child {
    label {
      margin-top: 0;
    }
  }
}
.achievements-block__item label {
  @include item-label;

  &::before {
    @include item-label-before;
  }

  &:hover::before {
    border-color: $border-color-hover;
  }
  
  &:active::before {
    border-color: $border-color-active;
  }
}
.achievements-block__input {
  display: none;
}

@media #{$tablet-widths} {
  .achievements-block {
    order: 3;
    background: $lightest-bg;
  }

  .achievements-block__wrapper {
    padding: 30px 0;
  }

  .achievements-block__list {
    justify-content: space-between;
  }
}

@media #{$desktop-widths} {
  .achievements-block__item {
    display: inline-block;
    width: 32%;
  }
}
