.advantages {
  background: $lightest-bg;
  color: $dark-text-color;
  line-height: 24px;
}

.advantages__promo {
  @include container;
  padding: 50px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 300;

  p {
    margin: 0 0 20px 0;
  }
}

.advantages__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 280px;
  padding: 66px $page-margin-mobile 0;
  background: $light-bg;
}

.advantages__item {
  text-align: center;

  p {
    margin: 0;
    margin-bottom: 44px;
    font-size: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.advantages__item-img {
  display: none;
}

.advantages__item-title {
  font-size: 18px;
  font-weight: 700;
}

.advantages__promo-img {
  height: 280px;
  margin-top: 45px;
  overflow: hidden;
  background: $light-bg;
}

.advantages__promo-img img {
  margin-bottom: -55px;
}

@media #{$tablet-widths} {
  .advantages__promo {
    padding: 60px 0 55px 0;
    font-size: 40px;
    line-height: 40px;

    p {
      margin: 0;
    }
  }

  .advantages__wrapper {
    flex-direction: row-reverse;
    width: 620px;
    padding: 0 $page-margin-tablet;
  }

  .advantages__list {
    width: 310px;
    padding-top: 75px;
  }

  .advantages__promo-img {
    width: 300px;
    height: 482px;
    margin-top: 0;
  }

  .advantages__promo-img img {
    width: 268px ;
    height: 548px;
    margin-bottom: -65px;
  }

  .advantages__item {
    text-align: left;
  }
}

@media #{$desktop-widths} {
  .advantages__promo {
    padding: 70px 0 80px 0;
    font-size: 50px;
    line-height: 50px;
  }

  .advantages__wrapper {
    width: 940px;
    padding: 0 $page-margin-desktop;
  }

  .advantages__list {
    width: auto;
    font-size: 0;
  }

  .advantages__item {
    display: inline-block;
    width: 300px;
    margin-right: 20px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }

  .advantages__item-img {
    display: block;
  }

  .advantages__promo-img {
    display: none;
  }
}
