.competitor-contacts {
  background: $lightest-bg;

  legend {
    display: none;
  }
}

.competitor-contacts__wrapper {
  @include container;
  padding-top: 40px;
  padding-bottom: 50px;
}

.competitor-contacts__list {
  @include list-default;
}

.competitor-contacts__item-title {
  @include pink-item-label;
}

.competitor-contacts__input {
  @include typography(18px, 30px, 400, $dark-text-color);
  padding: 15px 24px;
  width: 232px;
}

@media #{$tablet-widths} {
  .competitor-contacts {
    order: 2;

    legend {
      display: block;
    }
    fieldset {
      padding-bottom: 0;
    }
  }

  .competitor-contacts__wrapper {
    padding: 30px 0;
  }

  .competitor-contacts__list {
    margin-top: 40px;
  }

  .competitor-contacts__item {
    position: relative;

    &::before {
      @include pink-item-label;
      position: absolute;
      content:'';
      bottom: 20px;
    }

    &--phone::before {
      content:'Номер телефона';
    }

    &--email::before {
      content:'Адрес почты';
    }
  }
  .competitor-contacts__input {
    width: 446px;
    margin-bottom: 70px;
  }

  .competitor-contacts__item-title {
    display: none;
  }
}


@media #{$desktop-widths} {
  .competitor-contacts__wrapper {
    width: 940px;
    margin: 0 $page-margin-desktop;
  }
  .competitor-contacts__item {
    display: inline-block;

    &:last-of-type {
      float: right;
    }
  }
  .competitor-contacts__input {
    width: 320px;
  }
}
