.name-block {
  order: 0;
  padding: 0 0 40px 0;
}

.name-block__wrapper {
  @include container;
}

.name-block__list {
  @include list-default;
}

.name-block__item-title {
  @include pink-item-label;

  &:first-of-type {
    margin-top: 0;
  }
}

.name-block__input {
  @include typography(18px, 30px, 400, $dark-text-color);
  width: 232px;
  padding: 15px 24px;
}

@media #{$tablet-widths} {
  .name-block__item-title {
    float: left;
    padding: 15px 0;
    margin: 0;
  }

  .name-block__item {
    @include clearfix;
    margin-top: 50px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .name-block__input {
    float: right;
    width: 470px;
  }

  .name-block__input[id="first-name"] {
    width: 510px;
  }
}

@media #{$desktop-widths} {
  .name-block__wrapper {
    width: auto;
    padding-top: 20px;
    margin-left: $page-margin-desktop;
  }
  .name-block__list{
    width: 435px;
  }

  .name-block__item-title {
    display: inline-block;
  }

  .name-block__input {
    float: right;
    width: 285px;
  }

  .name-block__input[id="first-name"] {
    width: 325px;
  }
}
