.page-footer {
  background-color: $lightest-bg;
  text-align: center;

  &--index {
    display: none;
  }
}
.page-footer__wrapper {
  @include container;
  padding: 35px 0;
}

.page-footer__socials {
  margin-top: 35px;
  font-size: 0;
}

.page-footer__copyright {
  margin-top: 35px;

  p{
    @include typography(14px, 18px, 400, $dark-text-color);
    display: inline-block;
    margin: 0;
  }
}

.page-footer__copyright-link {
  display: inline-block;
  width: 27px;
  height: 34px;
  margin: 0 15px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/htmlacademy.svg');
}

@media #{$tablet-widths} {
  .page-footer {
    &--index {
      display: block;
    }
  }
  .page-footer__logo {
    display: inline-block;
    float: left;
  }
  .page-footer__socials {
    display: inline-block;
    margin-top: 0;
  }
  .page-footer__copyright {
    display: inline-block;
    float: right;
    margin-top: 0;
  }
}
@media #{$desktop-widths} {
  .page-footer__copyright p {
    font-size: 18px;
  }
}
