.page-header {
  background-color: $dark-bg;

  img {
    padding: 20px 0;
    margin-left: $page-margin-mobile;
  }
}

@media #{$tablet-widths} {
  .page-header {
    position: absolute;
  }
  .page-header__logo{
    width: 700px;
    min-height: 110px;
  }

  .page-header img {
    padding: 40px 0;
    margin-left: $page-margin-tablet;
  }
}

@media #{$desktop-widths} {
  .page-header{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    background: rgba(0, 0, 0, 0.3);
  }

  .page-header__logo{
    width: 210px;
  }

  .page-header img {
    margin-left: $page-margin-desktop;
  }
}
