.vacation-review {
  background-color: $lightest-bg;

  &__wrapper {
    margin: 0 20px;
    padding-top: 40px;
  }

  &__title {
    @include pink-block-title;
    padding: 20px 0;
  }
  &__input {
    margin-bottom: 20px;
    padding: 25px 20px;
    width: 240px;
  }
}
