.vacation-review {
  background-color: $lightest-bg;
}

.vacation-review__wrapper {
  @include container;
  padding-top: 60px;
  padding-bottom: 46px;
}

.vacation-review__input {
  margin-top: 15px;
  padding: 25px 20px;
  width: 236px;
}

@media #{$tablet-widths} {
  .vacation-review {
    order: 4;
  }

  .vacation-review__input {
    margin-top: 40px;
    width: 456px;
    height: 150px;
  }
}

@media #{$desktop-widths} {
  .vacation-review__wrapper {
    width: 940px;
    margin: 0 $page-margin-desktop;
  }

  .vacation-review__input {
    margin-top: 40px;
    width: 780px;
    height: 75px;
  }
}
